/* Below '*' is used to change the default margin and padding to 0. */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.top-portion{
    background-image: url('./images/banner/banner2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}
.top-part{
    width: 100%;
    height: 100vh;
    display: flex; /* Flex is used to take everything to right side for the challenge. */
    flex-direction: column;
    align-items: flex-end;
    align-content: center;
    justify-content: center;
    margin-left: -200px; /* This is used to create some space in the right side of the header */

}
.top-title{
    width: 500px;
    height: 230px;
    text-align: right;
    font-weight: 700;
    font-size: 65px;
    padding: 15px;
}
.top-description{
    width: 550px;
    height: 65px;
    text-align: right;
    line-height: 1.5em;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 45px;

}
.button-primary{
    width: 150px;
    height: 70px;
    background-color: rgb(241, 91, 34);
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5em;
    border-radius: 5px;
    border-style: none;
    padding: 5px 5px;
}
.failure{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 50px;
}
.failure-image{
    width: auto;
    height: 750px;
    padding-top: 100px;
    padding-left: 20%;
    margin: auto;

}
.failure-blog{
    width: auto;
    height: 500px;
    text-align: left;
    padding-top: 330px;
    padding-left: 20px;
    margin: auto;
}
.failure-title{
    width: 300px;
    font-weight: 700;
    line-height: 1.2em;
    font-size: 40px;
    padding-bottom: 15px;
}
.failure-description{
    height: 100px;
    font-size: 15px;
    line-height: 1.5em;
    padding-top: 15px;
    padding-right: 550px;
}
.failure-why{
    list-style:none;
    font-size: 15px;
    line-height: 2em;
}
li.reasons:before{
    content: "\2714  "; /* I found how to use check mark in unordered list using google. Still it looks a bit different than assignment one. I tried using font awesome but they have only one free check mark and the one I used looks analogous m*/ 
    color: #4bbc7f;

    padding-right: 10px;
}
.my-plan{
    text-align: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 50px;
}
.my-plan > h2{
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 30px;

}
.whole-plan{
    display:flex;
    gap: 100px;
    justify-content: center;
    padding-top: 20px;
}
.plan > h3{
    padding-top: 20px;
    font-size: 35px;
}
.plan > p{
    font-size: 22px;
    color: #737272;
    padding-top: 10px;
}
.banner{
    width:65%;
    height: 30vh;
    background-image: linear-gradient(to right, #f15b22, #ffffff00), url("./images/watch.png");/* Challenge to use color gradient is Completed  */
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    margin: 40px auto 120px auto;
}
.banner-title{
    font-weight: 700;
    font-size: 40px;
    height: 60px;
    width: 600px;
    justify-items: left;
    text-align: left;
    margin-left: 50px;
    margin-top: 45px;
    padding: 50px 5px;
    color: #ffffff
}
.banner-button{
    color: #f15b22;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 40px;
    justify-items: left;
    display: flex;
    margin-left: 55px;
    margin-top: 5px;
    border-style: none;
    border-radius: 5px;
}
.web-bottom{
    width: auto;
    height: 60vh;
    background-color: #000000;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;    
 
}
.bottom-container{
    display: flex;
    gap: 30%;
}
.future{
    text-align: left;
    height:20vh;
    width:22%;
    margin-left: 20px;
    padding-top: 6%;
    padding-left: 8%;
}
.future-title{
    font-size: 45px;
    padding-left: 20px;
    font-weight: 700;
}
.future-description{
    font-size: 15px;
    padding: 10px 20px;
    line-height: 25px;
}
.future-social-media{
    display:flex;
    gap: 15px;
    padding: 20px 20px;
}
.subscribe{
    text-align: left;
    height: 30vh;
    width: 22%;
    padding-top: 6%;
    padding-left: 8%;
}
.subscribe-title{
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
}
#subscriber-email[type=email] {
    background-color: black;
    color: #F3F3F3;
    padding: 10px;
    font-size: 20PX;
    border-color: WHITE;
    border-radius: 5px;
    width: 300px;
    margin-right: 20%;
}
.subscribe-button{
    color: orangered;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 50px;
    justify-items: left;
    display: flex;
    margin-top: 20px;
    border-style: none;
    border-radius: 5px;    
}
.bonus-section-education{
    height: 80vh;
    width: auto;
    justify-content: center;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;

}
.education{
    width: 700px;
    height: auto;
    display: flex;
    padding: 1px 10px;
    align-items: baseline;
    margin: auto;
    gap: 0px;
    border-bottom: 1px solid black;
}
.education-title{
    font-size: 50px;
    width: auto;
    height: auto;
    padding-bottom: 30px;
}
.education img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}
.education-description{
    width: 450px;
    height: 180px;
    text-align: left;
    padding: 10px 20px;
    margin: auto;
}
.degree{
    padding: 20px 5px;
    font-size: 30px;
}
.institution{
    padding: 5px;
    font-size: 20px;
}
.degree-description{
    padding: 5px;
    font-size: 15px;

}
.education-total{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: auto;
    align-items: baseline;
    margin: auto;
    gap: 0px;
}